.register-page {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 40px 0 90px 0;
}

.sub-register {
  display: flex;
  justify-content: center;
  height: 460px;
  width: 30%;
  box-shadow: 11px 12px 13x 13px rgb(207, 207, 207);
  /* padding-top: 10px; */
  border-radius: 30px;
  background-color: grey;
}



.register_container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.RegisterloginButton {
  border: none;
  color: #000;

}

.reg-section {
  margin-top: 30px;
}

.regimage_container {
  margin-bottom: 2px;
}

.register h3 {
  margin-bottom: -20px;
}

.register p {
  margin-top: 67px;
}

.reg-login {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;

}

.RegisterloginButton {
  padding: 0.2rem 1rem;
  border: none;
  border-radius: 20px;
  background-color: rgb(28, 166, 212);
  color: #000;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

@media screen and (max-width:700px) {
  .register-page {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 90px 0 0 0;
    /* position: fixed; */
  }

  .reg-login {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }

  .sub-register {
    display: flex;

    justify-content: center;
    height: 84vh;
    width: 100vw;
    border-radius: 0;
    margin-top: -90px;
    background-color: rgb(255, 239, 215);

  }

  img {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    height: 95px;
    width: 75px;
  }

  .image_container {
    align-items: center;
    display: flex;

  }

  .login_header {
    margin-top: 20px;
  }

  input {
    width: 300px;
    height: 50px;
    border-radius: 16px;
    box-shadow: inset 0px 0px 25px 0px rgb(189, 180, 180);
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 40px;
    font-size: 18px
  }

  .icon {
    height: 55px;
    width: 35px;
    position: absolute;
    padding: 55px 0 0 30px;
  }

  .name,
  .pass {
    padding-left: 60px;
  }

  .login_button {
    width: 300px;
    height: 50px;
    background-color: rgb(28, 166, 212);
    border-radius: 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    margin-top: 30px;
  }

  .login_header h3 {

    font-size: 26px;
  }

  .login_header p {
    margin-top: 20px;
    font-size: 18px;
  }



  .login_container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .RegisterloginButton {
    /* padding: 0.2rem 1rem; */
    border: none;
    /* border-radius: 20px; */
    background-color: rgb(179, 184, 185);
    color: #000;
  }

  */ .link {
    /* text-decoration: none; */
    color: #000;
  }
}